_next/data/T_Nz0g9U1yttYMSEma95P/post/2024-06-30-BuildinganAWSStepFunctionforEmployeeOnboardingProcess.json
{"pageProps":{"post":{"title":"AWS Step Function을 사용한 직원 온보딩 프로세스 구축 방법","description":"","date":"2024-06-30 19:26","slug":"2024-06-30-BuildinganAWSStepFunctionforEmployeeOnboardingProcess","content":"\n\n이번 튜토리얼에서는 직원 입사 절차를 자동화하기 위해 AWS Step Function을 만들어보겠습니다. 이 과정에는 직원 레코드 작성, 문서 확인, 환영 이메일 발송, 필요 장비 할당 등이 포함됩니다.\n\n# 단계 1: 서버리스 프로젝트 설정하기\n\n먼저, Serverless Framework가 설치되어 있는지 확인하세요. 만약 없다면 npm을 사용하여 설치할 수 있습니다:\n\n```js\nnpm install -g serverless\n```\n\n<!-- ui-station 사각형 -->\n<ins class=\"adsbygoogle\"\nstyle=\"display:block\"\ndata-ad-client=\"ca-pub-4877378276818686\"\ndata-ad-slot=\"7249294152\"\ndata-ad-format=\"auto\"\ndata-full-width-responsive=\"true\"></ins>\n<script>\n(adsbygoogle = window.adsbygoogle || []).push({});\n</script>\n\n다음으로 새로운 Serverless 프로젝트를 만들어보세요:\n\n```js\nserverless create --template aws-nodejs --path employee-onboarding\ncd employee-onboarding\n```\n\n# 단계 2: Serverless Step Functions 플러그인 설치하기\n\n프로젝트에 Serverless Step Functions 플러그인을 추가해보세요. 이 플러그인은 Serverless Framework를 사용하여 Step Functions을 정의하고 배포하는 데 필요합니다.\n\n<!-- ui-station 사각형 -->\n<ins class=\"adsbygoogle\"\nstyle=\"display:block\"\ndata-ad-client=\"ca-pub-4877378276818686\"\ndata-ad-slot=\"7249294152\"\ndata-ad-format=\"auto\"\ndata-full-width-responsive=\"true\"></ins>\n<script>\n(adsbygoogle = window.adsbygoogle || []).push({});\n</script>\n\n```js\nnpm install --save serverless-step-functions\n```\n\n# 단계 3: Serverless Framework 구성\n\nserverless.yml 파일에서 서비스를 Step Functions 플러그인을 사용하도록 구성하고 AWS 리소스와 함수를 정의합니다.\n```js\nservice: employee-onboarding\nframeworkVersion: '3'\nprovider:\n  name: aws\n  runtime: nodejs18.x\n  stage: ${opt:stage, 'dev'}\n  region: us-east-1\n  iamRoleStatements:\n    - Effect: \"Allow\"\n      Action:\n        - \"dynamodb:*\"\n      Resource: !GetAtt EmployeeTable.Arn\n    - Effect: \"Allow\"\n      Action:\n        - \"sns:*\"\n      Resource: \"arn:aws:sns:us-east-1:*:NotifyEmployee\"\nfunctions:\n  createEmployeeRecord:\n    handler: handler.createEmployeeRecord\n    environment:\n      EMPLOYEE_TABLE: !Ref EmployeeTable\n  verifyDocuments:\n    handler: handler.verifyDocuments\n  sendWelcomeEmail:\n    handler: handler.sendWelcomeEmail\n  assignEquipment:\n    handler: handler.assignEquipment\nplugins:\n  - serverless-step-functions\nstepFunctions:\n  stateMachines:\n    EmployeeOnboardingStateMachine:\n      name: EmployeeOnboardingStateMachine\n      definition:\n        Comment: \"A state machine for onboarding new employees.\"\n        StartAt: CreateEmployeeRecord\n        States:\n          CreateEmployeeRecord:\n            Type: Task\n            Resource: !GetAtt createEmployeeRecord.Arn\n            ResultPath: \"$.employee\"\n            Next: VerifyDocuments\n          VerifyDocuments:\n            Type: Task\n            Resource: !GetAtt verifyDocuments.Arn\n            ResultPath: \"$.documentVerification\"\n            Next: DocumentCheck\n          DocumentCheck:\n            Type: Choice\n            Choices:\n              - Variable: \"$.documentVerification.status\"\n                StringEquals: \"verified\"\n                Next: SendWelcomeEmail\n            Default: DocumentError\n          DocumentError:\n            Type: Pass\n            Result: \"Document verification failed\"\n            End: true\n          SendWelcomeEmail:\n            Type: Task\n            Resource: !GetAtt sendWelcomeEmail.Arn\n            ResultPath: \"$.emailStatus\"\n            Next: AssignEquipment\n          AssignEquipment:\n            Type: Task\n            Resource: !GetAtt assignEquipment.Arn\n            ResultPath: \"$.equipmentStatus\"\n            End: true\nresources:\n  Resources:\n    EmployeeTable:\n      Type: AWS::DynamoDB::Table\n      Properties:\n        TableName: EmployeeTable-${self:provider.stage}\n        AttributeDefinitions:\n          - AttributeName: employeeId\n            AttributeType: S\n        KeySchema:\n          - AttributeName: employeeId\n            KeyType: HASH\n        BillingMode: PAY_PER_REQUEST\n```\n\n<!-- ui-station 사각형 -->\n<ins class=\"adsbygoogle\"\nstyle=\"display:block\"\ndata-ad-client=\"ca-pub-4877378276818686\"\ndata-ad-slot=\"7249294152\"\ndata-ad-format=\"auto\"\ndata-full-width-responsive=\"true\"></ins>\n<script>\n(adsbygoogle = window.adsbygoogle || []).push({});\n</script>\n\n# 상태 머신의 자세한 설명\n\n## 1. CreateEmployeeRecord\n\n- 유형: 작업\n- createEmployeeRecord 람다 함수를 호출하여 작업 수행\n- 리소스: !GetAtt createEmployeeRecord.Arn\n- createEmployeeRecord 람다 함수의 ARN\n- ResultPath: $.employee\n- 이 작업의 출력을 상태 입력의 employee 필드에 저장\n\n- 다음: VerifyDocuments\n- 이 작업이 완료된 후 VerifyDocuments 상태로 전환\n\n<!-- ui-station 사각형 -->\n<ins class=\"adsbygoogle\"\nstyle=\"display:block\"\ndata-ad-client=\"ca-pub-4877378276818686\"\ndata-ad-slot=\"7249294152\"\ndata-ad-format=\"auto\"\ndata-full-width-responsive=\"true\"></ins>\n<script>\n(adsbygoogle = window.adsbygoogle || []).push({});\n</script>\n\n## 2. VerifyDocuments\n\n- verifyDocuments Lambda 기능을 호출하여 작업을 수행합니다.\n\n## 3. DocumentCheck\n\n- 유형: Choice\n- 변수 값에 따라 분기 로직을 추가합니다.\n- 선택지:\n  - documentVerification.status 필드를 평가합니다.\n  - 값이 확인된 경우 SendWelcomeEmail 상태로 전환합니다.\n  - 기본값: DocumentError\n  - 선택지와 일치하는 것이 없는 경우 DocumentError 상태로 전환합니다.\n\n<!-- ui-station 사각형 -->\n<ins class=\"adsbygoogle\"\nstyle=\"display:block\"\ndata-ad-client=\"ca-pub-4877378276818686\"\ndata-ad-slot=\"7249294152\"\ndata-ad-format=\"auto\"\ndata-full-width-responsive=\"true\"></ins>\n<script>\n(adsbygoogle = window.adsbygoogle || []).push({});\n</script>\n\n## 4. DocumentError\n\n- 유형: Pass\n- 입력을 수정하지 않고 출력으로 전달합니다.\n- 결과: \"문서 검증 실패\"\n- 이 상태의 출력 값입니다.\n- 종료: true\n- 이 상태를 최종 상태로 표시합니다.\n\n## 5. SendWelcomeEmail\n\n- sendWelcomeEmail Lambda 함수를 호출하여 작업을 수행합니다.\n\n<!-- ui-station 사각형 -->\n<ins class=\"adsbygoogle\"\nstyle=\"display:block\"\ndata-ad-client=\"ca-pub-4877378276818686\"\ndata-ad-slot=\"7249294152\"\ndata-ad-format=\"auto\"\ndata-full-width-responsive=\"true\"></ins>\n<script>\n(adsbygoogle = window.adsbygoogle || []).push({});\n</script>\n\n## 6. 장비할당\n\n- assignEquipment 람다 함수를 호출하여 작업을 수행합니다.\n\n# 단계 4: 람다 함수 구현\n\nhandler.js 파일을 만들어 람다 함수를 정의하세요.\n\n<!-- ui-station 사각형 -->\n<ins class=\"adsbygoogle\"\nstyle=\"display:block\"\ndata-ad-client=\"ca-pub-4877378276818686\"\ndata-ad-slot=\"7249294152\"\ndata-ad-format=\"auto\"\ndata-full-width-responsive=\"true\"></ins>\n<script>\n(adsbygoogle = window.adsbygoogle || []).push({});\n</script>\n\n직원 레코드 생성\n\n```js\n'use strict';\nconst AWS = require('aws-sdk');\nconst docClient = new AWS.DynamoDB.DocumentClient();\nmodule.exports.createEmployeeRecord = async (event) => {\n  const EMPLOYEE_TABLE = process.env.EMPLOYEE_TABLE;\n  const employee = JSON.parse(event.body);\n  const params = {\n    TableName: EMPLOYEE_TABLE,\n    Item: {\n      employeeId: employee.employeeId,\n      name: employee.name,\n      role: employee.role,\n      email: employee.email,\n    },\n  };\n  await docClient.put(params).promise();\n  return {\n    statusCode: 200,\n    body: JSON.stringify(employee),\n  };\n};\n```\n\n문서 확인\n\n```js\nmodule.exports.verifyDocuments = async (event) => {\n  const { employeeId, documents } = JSON.parse(event.body);\n  const status = documents && documents.length > 0 ? 'verified' : 'unverified';\n  return {\n    statusCode: 200,\n    body: JSON.stringify({ employeeId, status }),\n  };\n};\n```\n\n<!-- ui-station 사각형 -->\n<ins class=\"adsbygoogle\"\nstyle=\"display:block\"\ndata-ad-client=\"ca-pub-4877378276818686\"\ndata-ad-slot=\"7249294152\"\ndata-ad-format=\"auto\"\ndata-full-width-responsive=\"true\"></ins>\n<script>\n(adsbygoogle = window.adsbygoogle || []).push({});\n</script>\n\n↓\n\n웰컴 이메일 전송\n\n```js\nconst sns = new AWS.SNS();\nmodule.exports.sendWelcomeEmail = async (event) => {\n  const { email } = JSON.parse(event.body).employee;\n  const params = {\n    Message: '회사에 오신 것을 환영합니다!',\n    Subject: '환영합니다',\n    TopicArn: process.env.SNS_TOPIC_ARN,\n  };\n  await sns.publish(params).promise();\n  return {\n    statusCode: 200,\n    body: JSON.stringify({ status: '이메일 전송됨' }),\n  };\n};\n```\n\n장비 할당\n\n```js\nmodule.exports.assignEquipment = async (event) => {\n  const { employeeId } = JSON.parse(event.body);\n  // 장비 로직 여기에 작성\n  return {\n    statusCode: 200,\n    body: JSON.stringify({ status: '장비 할당됨', employeeId }),\n  };\n};\n```\n\n<!-- ui-station 사각형 -->\n<ins class=\"adsbygoogle\"\nstyle=\"display:block\"\ndata-ad-client=\"ca-pub-4877378276818686\"\ndata-ad-slot=\"7249294152\"\ndata-ad-format=\"auto\"\ndata-full-width-responsive=\"true\"></ins>\n<script>\n(adsbygoogle = window.adsbygoogle || []).push({});\n</script>\n\n# 단계 4: 서버리스 서비스 배포하기\n\n서버리스.yml 파일 구성을 완료한 후 서버리스 서비스를 배포하세요. 이 단계에서는 람다 함수를 배포하고, DynamoDB 테이블과 같은 필요한 AWS 리소스를 생성하며, Step Functions 스테이트 머신을 배포합니다.\n\n```js\nserverless deploy\n```\n\n배포 중에는 서버리스 프레임워크가 제공된 설정에 따라 Step Functions 스테이트 머신을 만듭니다.\n\n<!-- ui-station 사각형 -->\n<ins class=\"adsbygoogle\"\nstyle=\"display:block\"\ndata-ad-client=\"ca-pub-4877378276818686\"\ndata-ad-slot=\"7249294152\"\ndata-ad-format=\"auto\"\ndata-full-width-responsive=\"true\"></ins>\n<script>\n(adsbygoogle = window.adsbygoogle || []).push({});\n</script>\n\n# 단계 5: 상태 머신의 ARN 가져오기\n\n배포된 후에는 AWS 관리 콘솔 또는 CLI에서 Step Functions 상태 머신의 ARN (Amazon 리소스 이름)을 얻을 수 있습니다.\n\n# 단계 6: IAM 역할 문장 업데이트\n\nserverless.yml 파일의 IAM 역할 문장을 Step Functions 상태 머신의 ARN으로 업데이트하세요.\n\n<!-- ui-station 사각형 -->\n<ins class=\"adsbygoogle\"\nstyle=\"display:block\"\ndata-ad-client=\"ca-pub-4877378276818686\"\ndata-ad-slot=\"7249294152\"\ndata-ad-format=\"auto\"\ndata-full-width-responsive=\"true\"></ins>\n<script>\n(adsbygoogle = window.adsbygoogle || []).push({});\n</script>\n\n```yaml\niamRoleStatements:\n  - Effect: \"Allow\"\n    Action:\n      - \"states:*\"\n    Resource: \"arn:aws:states:us-east-1:123456789012:stateMachine:EmployeeOnboardingStateMachine\"\n```\n\n# 단계 7: 서버리스 서비스 다시 배포하기\n\nIAM 역할 문장을 업데이트한 후에 변경 사항을 적용하기 위해 서버리스 서비스를 다시 배포하세요.\n\n```sh\nserverless deploy\n```\n\n<!-- ui-station 사각형 -->\n<ins class=\"adsbygoogle\"\nstyle=\"display:block\"\ndata-ad-client=\"ca-pub-4877378276818686\"\ndata-ad-slot=\"7249294152\"\ndata-ad-format=\"auto\"\ndata-full-width-responsive=\"true\"></ins>\n<script>\n(adsbygoogle = window.adsbygoogle || []).push({});\n</script>\n\n# 요약\n\n이 튜토리얼은 직원 온보딩 프로세스를 자동화하기 위한 AWS Step Function을 생성하는 방법을 보여줍니다. Serverless Framework와 Serverless Step Functions 플러그인을 활용하여 작업, 분기 논리, 오류 처리를 포함한 복잡한 워크플로우를 정의하고 배포하여 온보딩 프로세스를 효율적이고 확장 가능하게 만들 수 있습니다.","ogImage":{"url":"/assets/img/2024-06-30-BuildinganAWSStepFunctionforEmployeeOnboardingProcess_0.png"},"coverImage":"/assets/img/2024-06-30-BuildinganAWSStepFunctionforEmployeeOnboardingProcess_0.png","tag":["Tech"],"readingTime":10},"content":"<!doctype html>\n<html lang=\"en\">\n<head>\n<meta charset=\"utf-8\">\n<meta content=\"width=device-width, initial-scale=1\" name=\"viewport\">\n</head>\n<body>\n<p>이번 튜토리얼에서는 직원 입사 절차를 자동화하기 위해 AWS Step Function을 만들어보겠습니다. 이 과정에는 직원 레코드 작성, 문서 확인, 환영 이메일 발송, 필요 장비 할당 등이 포함됩니다.</p>\n<h1>단계 1: 서버리스 프로젝트 설정하기</h1>\n<p>먼저, Serverless Framework가 설치되어 있는지 확인하세요. 만약 없다면 npm을 사용하여 설치할 수 있습니다:</p>\n<pre><code class=\"hljs language-js\">npm install -g serverless\n</code></pre>\n<!-- ui-station 사각형 -->\n<p><ins class=\"adsbygoogle\" style=\"display:block\" data-ad-client=\"ca-pub-4877378276818686\" data-ad-slot=\"7249294152\" data-ad-format=\"auto\" data-full-width-responsive=\"true\"></ins></p>\n<script>\n(adsbygoogle = window.adsbygoogle || []).push({});\n</script>\n<p>다음으로 새로운 Serverless 프로젝트를 만들어보세요:</p>\n<pre><code class=\"hljs language-js\">serverless create --template aws-nodejs --path employee-onboarding\ncd employee-onboarding\n</code></pre>\n<h1>단계 2: Serverless Step Functions 플러그인 설치하기</h1>\n<p>프로젝트에 Serverless Step Functions 플러그인을 추가해보세요. 이 플러그인은 Serverless Framework를 사용하여 Step Functions을 정의하고 배포하는 데 필요합니다.</p>\n<!-- ui-station 사각형 -->\n<p><ins class=\"adsbygoogle\" style=\"display:block\" data-ad-client=\"ca-pub-4877378276818686\" data-ad-slot=\"7249294152\" data-ad-format=\"auto\" data-full-width-responsive=\"true\"></ins></p>\n<script>\n(adsbygoogle = window.adsbygoogle || []).push({});\n</script>\n<pre><code class=\"hljs language-js\">npm install --save serverless-step-functions\n</code></pre>\n<h1>단계 3: Serverless Framework 구성</h1>\n<p>serverless.yml 파일에서 서비스를 Step Functions 플러그인을 사용하도록 구성하고 AWS 리소스와 함수를 정의합니다.</p>\n<pre><code class=\"hljs language-js\"><span class=\"hljs-attr\">service</span>: employee-onboarding\n<span class=\"hljs-attr\">frameworkVersion</span>: <span class=\"hljs-string\">'3'</span>\n<span class=\"hljs-attr\">provider</span>:\n  <span class=\"hljs-attr\">name</span>: aws\n  <span class=\"hljs-attr\">runtime</span>: nodejs18.<span class=\"hljs-property\">x</span>\n  <span class=\"hljs-attr\">stage</span>: ${<span class=\"hljs-attr\">opt</span>:stage, <span class=\"hljs-string\">'dev'</span>}\n  <span class=\"hljs-attr\">region</span>: us-east-<span class=\"hljs-number\">1</span>\n  <span class=\"hljs-attr\">iamRoleStatements</span>:\n    - <span class=\"hljs-title class_\">Effect</span>: <span class=\"hljs-string\">\"Allow\"</span>\n      <span class=\"hljs-title class_\">Action</span>:\n        - <span class=\"hljs-string\">\"dynamodb:*\"</span>\n      <span class=\"hljs-title class_\">Resource</span>: !<span class=\"hljs-title class_\">GetAtt</span> <span class=\"hljs-title class_\">EmployeeTable</span>.<span class=\"hljs-property\">Arn</span>\n    - <span class=\"hljs-title class_\">Effect</span>: <span class=\"hljs-string\">\"Allow\"</span>\n      <span class=\"hljs-title class_\">Action</span>:\n        - <span class=\"hljs-string\">\"sns:*\"</span>\n      <span class=\"hljs-title class_\">Resource</span>: <span class=\"hljs-string\">\"arn:aws:sns:us-east-1:*:NotifyEmployee\"</span>\n<span class=\"hljs-attr\">functions</span>:\n  <span class=\"hljs-attr\">createEmployeeRecord</span>:\n    <span class=\"hljs-attr\">handler</span>: handler.<span class=\"hljs-property\">createEmployeeRecord</span>\n    <span class=\"hljs-attr\">environment</span>:\n      <span class=\"hljs-attr\">EMPLOYEE_TABLE</span>: !<span class=\"hljs-title class_\">Ref</span> <span class=\"hljs-title class_\">EmployeeTable</span>\n  <span class=\"hljs-attr\">verifyDocuments</span>:\n    <span class=\"hljs-attr\">handler</span>: handler.<span class=\"hljs-property\">verifyDocuments</span>\n  <span class=\"hljs-attr\">sendWelcomeEmail</span>:\n    <span class=\"hljs-attr\">handler</span>: handler.<span class=\"hljs-property\">sendWelcomeEmail</span>\n  <span class=\"hljs-attr\">assignEquipment</span>:\n    <span class=\"hljs-attr\">handler</span>: handler.<span class=\"hljs-property\">assignEquipment</span>\n<span class=\"hljs-attr\">plugins</span>:\n  - serverless-step-functions\n<span class=\"hljs-attr\">stepFunctions</span>:\n  <span class=\"hljs-attr\">stateMachines</span>:\n    <span class=\"hljs-title class_\">EmployeeOnboardingStateMachine</span>:\n      <span class=\"hljs-attr\">name</span>: <span class=\"hljs-title class_\">EmployeeOnboardingStateMachine</span>\n      <span class=\"hljs-attr\">definition</span>:\n        <span class=\"hljs-title class_\">Comment</span>: <span class=\"hljs-string\">\"A state machine for onboarding new employees.\"</span>\n        <span class=\"hljs-title class_\">StartAt</span>: <span class=\"hljs-title class_\">CreateEmployeeRecord</span>\n        <span class=\"hljs-title class_\">States</span>:\n          <span class=\"hljs-title class_\">CreateEmployeeRecord</span>:\n            <span class=\"hljs-title class_\">Type</span>: <span class=\"hljs-title class_\">Task</span>\n            <span class=\"hljs-title class_\">Resource</span>: !<span class=\"hljs-title class_\">GetAtt</span> createEmployeeRecord.<span class=\"hljs-property\">Arn</span>\n            <span class=\"hljs-title class_\">ResultPath</span>: <span class=\"hljs-string\">\"$.employee\"</span>\n            <span class=\"hljs-title class_\">Next</span>: <span class=\"hljs-title class_\">VerifyDocuments</span>\n          <span class=\"hljs-title class_\">VerifyDocuments</span>:\n            <span class=\"hljs-title class_\">Type</span>: <span class=\"hljs-title class_\">Task</span>\n            <span class=\"hljs-title class_\">Resource</span>: !<span class=\"hljs-title class_\">GetAtt</span> verifyDocuments.<span class=\"hljs-property\">Arn</span>\n            <span class=\"hljs-title class_\">ResultPath</span>: <span class=\"hljs-string\">\"$.documentVerification\"</span>\n            <span class=\"hljs-title class_\">Next</span>: <span class=\"hljs-title class_\">DocumentCheck</span>\n          <span class=\"hljs-title class_\">DocumentCheck</span>:\n            <span class=\"hljs-title class_\">Type</span>: <span class=\"hljs-title class_\">Choice</span>\n            <span class=\"hljs-title class_\">Choices</span>:\n              - <span class=\"hljs-title class_\">Variable</span>: <span class=\"hljs-string\">\"$.documentVerification.status\"</span>\n                <span class=\"hljs-title class_\">StringEquals</span>: <span class=\"hljs-string\">\"verified\"</span>\n                <span class=\"hljs-title class_\">Next</span>: <span class=\"hljs-title class_\">SendWelcomeEmail</span>\n            <span class=\"hljs-title class_\">Default</span>: <span class=\"hljs-title class_\">DocumentError</span>\n          <span class=\"hljs-title class_\">DocumentError</span>:\n            <span class=\"hljs-title class_\">Type</span>: <span class=\"hljs-title class_\">Pass</span>\n            <span class=\"hljs-title class_\">Result</span>: <span class=\"hljs-string\">\"Document verification failed\"</span>\n            <span class=\"hljs-title class_\">End</span>: <span class=\"hljs-literal\">true</span>\n          <span class=\"hljs-title class_\">SendWelcomeEmail</span>:\n            <span class=\"hljs-title class_\">Type</span>: <span class=\"hljs-title class_\">Task</span>\n            <span class=\"hljs-title class_\">Resource</span>: !<span class=\"hljs-title class_\">GetAtt</span> sendWelcomeEmail.<span class=\"hljs-property\">Arn</span>\n            <span class=\"hljs-title class_\">ResultPath</span>: <span class=\"hljs-string\">\"$.emailStatus\"</span>\n            <span class=\"hljs-title class_\">Next</span>: <span class=\"hljs-title class_\">AssignEquipment</span>\n          <span class=\"hljs-title class_\">AssignEquipment</span>:\n            <span class=\"hljs-title class_\">Type</span>: <span class=\"hljs-title class_\">Task</span>\n            <span class=\"hljs-title class_\">Resource</span>: !<span class=\"hljs-title class_\">GetAtt</span> assignEquipment.<span class=\"hljs-property\">Arn</span>\n            <span class=\"hljs-title class_\">ResultPath</span>: <span class=\"hljs-string\">\"$.equipmentStatus\"</span>\n            <span class=\"hljs-title class_\">End</span>: <span class=\"hljs-literal\">true</span>\n<span class=\"hljs-attr\">resources</span>:\n  <span class=\"hljs-title class_\">Resources</span>:\n    <span class=\"hljs-title class_\">EmployeeTable</span>:\n      <span class=\"hljs-title class_\">Type</span>: <span class=\"hljs-attr\">AWS</span>::<span class=\"hljs-title class_\">DynamoDB</span>::<span class=\"hljs-title class_\">Table</span>\n      <span class=\"hljs-title class_\">Properties</span>:\n        <span class=\"hljs-title class_\">TableName</span>: <span class=\"hljs-title class_\">EmployeeTable</span>-${<span class=\"hljs-attr\">self</span>:provider.<span class=\"hljs-property\">stage</span>}\n        <span class=\"hljs-title class_\">AttributeDefinitions</span>:\n          - <span class=\"hljs-title class_\">AttributeName</span>: employeeId\n            <span class=\"hljs-title class_\">AttributeType</span>: S\n        <span class=\"hljs-title class_\">KeySchema</span>:\n          - <span class=\"hljs-title class_\">AttributeName</span>: employeeId\n            <span class=\"hljs-title class_\">KeyType</span>: <span class=\"hljs-variable constant_\">HASH</span>\n        <span class=\"hljs-title class_\">BillingMode</span>: <span class=\"hljs-variable constant_\">PAY_PER_REQUEST</span>\n</code></pre>\n<!-- ui-station 사각형 -->\n<p><ins class=\"adsbygoogle\" style=\"display:block\" data-ad-client=\"ca-pub-4877378276818686\" data-ad-slot=\"7249294152\" data-ad-format=\"auto\" data-full-width-responsive=\"true\"></ins></p>\n<script>\n(adsbygoogle = window.adsbygoogle || []).push({});\n</script>\n<h1>상태 머신의 자세한 설명</h1>\n<h2>1. CreateEmployeeRecord</h2>\n<ul>\n<li>\n<p>유형: 작업</p>\n</li>\n<li>\n<p>createEmployeeRecord 람다 함수를 호출하여 작업 수행</p>\n</li>\n<li>\n<p>리소스: !GetAtt createEmployeeRecord.Arn</p>\n</li>\n<li>\n<p>createEmployeeRecord 람다 함수의 ARN</p>\n</li>\n<li>\n<p>ResultPath: $.employee</p>\n</li>\n<li>\n<p>이 작업의 출력을 상태 입력의 employee 필드에 저장</p>\n</li>\n<li>\n<p>다음: VerifyDocuments</p>\n</li>\n<li>\n<p>이 작업이 완료된 후 VerifyDocuments 상태로 전환</p>\n</li>\n</ul>\n<!-- ui-station 사각형 -->\n<p><ins class=\"adsbygoogle\" style=\"display:block\" data-ad-client=\"ca-pub-4877378276818686\" data-ad-slot=\"7249294152\" data-ad-format=\"auto\" data-full-width-responsive=\"true\"></ins></p>\n<script>\n(adsbygoogle = window.adsbygoogle || []).push({});\n</script>\n<h2>2. VerifyDocuments</h2>\n<ul>\n<li>verifyDocuments Lambda 기능을 호출하여 작업을 수행합니다.</li>\n</ul>\n<h2>3. DocumentCheck</h2>\n<ul>\n<li>유형: Choice</li>\n<li>변수 값에 따라 분기 로직을 추가합니다.</li>\n<li>선택지:\n<ul>\n<li>documentVerification.status 필드를 평가합니다.</li>\n<li>값이 확인된 경우 SendWelcomeEmail 상태로 전환합니다.</li>\n<li>기본값: DocumentError</li>\n<li>선택지와 일치하는 것이 없는 경우 DocumentError 상태로 전환합니다.</li>\n</ul>\n</li>\n</ul>\n<!-- ui-station 사각형 -->\n<p><ins class=\"adsbygoogle\" style=\"display:block\" data-ad-client=\"ca-pub-4877378276818686\" data-ad-slot=\"7249294152\" data-ad-format=\"auto\" data-full-width-responsive=\"true\"></ins></p>\n<script>\n(adsbygoogle = window.adsbygoogle || []).push({});\n</script>\n<h2>4. DocumentError</h2>\n<ul>\n<li>유형: Pass</li>\n<li>입력을 수정하지 않고 출력으로 전달합니다.</li>\n<li>결과: \"문서 검증 실패\"</li>\n<li>이 상태의 출력 값입니다.</li>\n<li>종료: true</li>\n<li>이 상태를 최종 상태로 표시합니다.</li>\n</ul>\n<h2>5. SendWelcomeEmail</h2>\n<ul>\n<li>sendWelcomeEmail Lambda 함수를 호출하여 작업을 수행합니다.</li>\n</ul>\n<!-- ui-station 사각형 -->\n<p><ins class=\"adsbygoogle\" style=\"display:block\" data-ad-client=\"ca-pub-4877378276818686\" data-ad-slot=\"7249294152\" data-ad-format=\"auto\" data-full-width-responsive=\"true\"></ins></p>\n<script>\n(adsbygoogle = window.adsbygoogle || []).push({});\n</script>\n<h2>6. 장비할당</h2>\n<ul>\n<li>assignEquipment 람다 함수를 호출하여 작업을 수행합니다.</li>\n</ul>\n<h1>단계 4: 람다 함수 구현</h1>\n<p>handler.js 파일을 만들어 람다 함수를 정의하세요.</p>\n<!-- ui-station 사각형 -->\n<p><ins class=\"adsbygoogle\" style=\"display:block\" data-ad-client=\"ca-pub-4877378276818686\" data-ad-slot=\"7249294152\" data-ad-format=\"auto\" data-full-width-responsive=\"true\"></ins></p>\n<script>\n(adsbygoogle = window.adsbygoogle || []).push({});\n</script>\n<p>직원 레코드 생성</p>\n<pre><code class=\"hljs language-js\"><span class=\"hljs-meta\">'use strict'</span>;\n<span class=\"hljs-keyword\">const</span> <span class=\"hljs-variable constant_\">AWS</span> = <span class=\"hljs-built_in\">require</span>(<span class=\"hljs-string\">'aws-sdk'</span>);\n<span class=\"hljs-keyword\">const</span> docClient = <span class=\"hljs-keyword\">new</span> <span class=\"hljs-variable constant_\">AWS</span>.<span class=\"hljs-property\">DynamoDB</span>.<span class=\"hljs-title class_\">DocumentClient</span>();\n<span class=\"hljs-variable language_\">module</span>.<span class=\"hljs-property\">exports</span>.<span class=\"hljs-property\">createEmployeeRecord</span> = <span class=\"hljs-keyword\">async</span> (event) => {\n  <span class=\"hljs-keyword\">const</span> <span class=\"hljs-variable constant_\">EMPLOYEE_TABLE</span> = process.<span class=\"hljs-property\">env</span>.<span class=\"hljs-property\">EMPLOYEE_TABLE</span>;\n  <span class=\"hljs-keyword\">const</span> employee = <span class=\"hljs-title class_\">JSON</span>.<span class=\"hljs-title function_\">parse</span>(event.<span class=\"hljs-property\">body</span>);\n  <span class=\"hljs-keyword\">const</span> params = {\n    <span class=\"hljs-title class_\">TableName</span>: <span class=\"hljs-variable constant_\">EMPLOYEE_TABLE</span>,\n    <span class=\"hljs-title class_\">Item</span>: {\n      <span class=\"hljs-attr\">employeeId</span>: employee.<span class=\"hljs-property\">employeeId</span>,\n      <span class=\"hljs-attr\">name</span>: employee.<span class=\"hljs-property\">name</span>,\n      <span class=\"hljs-attr\">role</span>: employee.<span class=\"hljs-property\">role</span>,\n      <span class=\"hljs-attr\">email</span>: employee.<span class=\"hljs-property\">email</span>,\n    },\n  };\n  <span class=\"hljs-keyword\">await</span> docClient.<span class=\"hljs-title function_\">put</span>(params).<span class=\"hljs-title function_\">promise</span>();\n  <span class=\"hljs-keyword\">return</span> {\n    <span class=\"hljs-attr\">statusCode</span>: <span class=\"hljs-number\">200</span>,\n    <span class=\"hljs-attr\">body</span>: <span class=\"hljs-title class_\">JSON</span>.<span class=\"hljs-title function_\">stringify</span>(employee),\n  };\n};\n</code></pre>\n<p>문서 확인</p>\n<pre><code class=\"hljs language-js\"><span class=\"hljs-variable language_\">module</span>.<span class=\"hljs-property\">exports</span>.<span class=\"hljs-property\">verifyDocuments</span> = <span class=\"hljs-keyword\">async</span> (event) => {\n  <span class=\"hljs-keyword\">const</span> { employeeId, documents } = <span class=\"hljs-title class_\">JSON</span>.<span class=\"hljs-title function_\">parse</span>(event.<span class=\"hljs-property\">body</span>);\n  <span class=\"hljs-keyword\">const</span> status = documents &#x26;&#x26; documents.<span class=\"hljs-property\">length</span> > <span class=\"hljs-number\">0</span> ? <span class=\"hljs-string\">'verified'</span> : <span class=\"hljs-string\">'unverified'</span>;\n  <span class=\"hljs-keyword\">return</span> {\n    <span class=\"hljs-attr\">statusCode</span>: <span class=\"hljs-number\">200</span>,\n    <span class=\"hljs-attr\">body</span>: <span class=\"hljs-title class_\">JSON</span>.<span class=\"hljs-title function_\">stringify</span>({ employeeId, status }),\n  };\n};\n</code></pre>\n<!-- ui-station 사각형 -->\n<p><ins class=\"adsbygoogle\" style=\"display:block\" data-ad-client=\"ca-pub-4877378276818686\" data-ad-slot=\"7249294152\" data-ad-format=\"auto\" data-full-width-responsive=\"true\"></ins></p>\n<script>\n(adsbygoogle = window.adsbygoogle || []).push({});\n</script>\n<p>↓</p>\n<p>웰컴 이메일 전송</p>\n<pre><code class=\"hljs language-js\"><span class=\"hljs-keyword\">const</span> sns = <span class=\"hljs-keyword\">new</span> <span class=\"hljs-variable constant_\">AWS</span>.<span class=\"hljs-title function_\">SNS</span>();\n<span class=\"hljs-variable language_\">module</span>.<span class=\"hljs-property\">exports</span>.<span class=\"hljs-property\">sendWelcomeEmail</span> = <span class=\"hljs-keyword\">async</span> (event) => {\n  <span class=\"hljs-keyword\">const</span> { email } = <span class=\"hljs-title class_\">JSON</span>.<span class=\"hljs-title function_\">parse</span>(event.<span class=\"hljs-property\">body</span>).<span class=\"hljs-property\">employee</span>;\n  <span class=\"hljs-keyword\">const</span> params = {\n    <span class=\"hljs-title class_\">Message</span>: <span class=\"hljs-string\">'회사에 오신 것을 환영합니다!'</span>,\n    <span class=\"hljs-title class_\">Subject</span>: <span class=\"hljs-string\">'환영합니다'</span>,\n    <span class=\"hljs-title class_\">TopicArn</span>: process.<span class=\"hljs-property\">env</span>.<span class=\"hljs-property\">SNS_TOPIC_ARN</span>,\n  };\n  <span class=\"hljs-keyword\">await</span> sns.<span class=\"hljs-title function_\">publish</span>(params).<span class=\"hljs-title function_\">promise</span>();\n  <span class=\"hljs-keyword\">return</span> {\n    <span class=\"hljs-attr\">statusCode</span>: <span class=\"hljs-number\">200</span>,\n    <span class=\"hljs-attr\">body</span>: <span class=\"hljs-title class_\">JSON</span>.<span class=\"hljs-title function_\">stringify</span>({ <span class=\"hljs-attr\">status</span>: <span class=\"hljs-string\">'이메일 전송됨'</span> }),\n  };\n};\n</code></pre>\n<p>장비 할당</p>\n<pre><code class=\"hljs language-js\"><span class=\"hljs-variable language_\">module</span>.<span class=\"hljs-property\">exports</span>.<span class=\"hljs-property\">assignEquipment</span> = <span class=\"hljs-keyword\">async</span> (event) => {\n  <span class=\"hljs-keyword\">const</span> { employeeId } = <span class=\"hljs-title class_\">JSON</span>.<span class=\"hljs-title function_\">parse</span>(event.<span class=\"hljs-property\">body</span>);\n  <span class=\"hljs-comment\">// 장비 로직 여기에 작성</span>\n  <span class=\"hljs-keyword\">return</span> {\n    <span class=\"hljs-attr\">statusCode</span>: <span class=\"hljs-number\">200</span>,\n    <span class=\"hljs-attr\">body</span>: <span class=\"hljs-title class_\">JSON</span>.<span class=\"hljs-title function_\">stringify</span>({ <span class=\"hljs-attr\">status</span>: <span class=\"hljs-string\">'장비 할당됨'</span>, employeeId }),\n  };\n};\n</code></pre>\n<!-- ui-station 사각형 -->\n<p><ins class=\"adsbygoogle\" style=\"display:block\" data-ad-client=\"ca-pub-4877378276818686\" data-ad-slot=\"7249294152\" data-ad-format=\"auto\" data-full-width-responsive=\"true\"></ins></p>\n<script>\n(adsbygoogle = window.adsbygoogle || []).push({});\n</script>\n<h1>단계 4: 서버리스 서비스 배포하기</h1>\n<p>서버리스.yml 파일 구성을 완료한 후 서버리스 서비스를 배포하세요. 이 단계에서는 람다 함수를 배포하고, DynamoDB 테이블과 같은 필요한 AWS 리소스를 생성하며, Step Functions 스테이트 머신을 배포합니다.</p>\n<pre><code class=\"hljs language-js\">serverless deploy\n</code></pre>\n<p>배포 중에는 서버리스 프레임워크가 제공된 설정에 따라 Step Functions 스테이트 머신을 만듭니다.</p>\n<!-- ui-station 사각형 -->\n<p><ins class=\"adsbygoogle\" style=\"display:block\" data-ad-client=\"ca-pub-4877378276818686\" data-ad-slot=\"7249294152\" data-ad-format=\"auto\" data-full-width-responsive=\"true\"></ins></p>\n<script>\n(adsbygoogle = window.adsbygoogle || []).push({});\n</script>\n<h1>단계 5: 상태 머신의 ARN 가져오기</h1>\n<p>배포된 후에는 AWS 관리 콘솔 또는 CLI에서 Step Functions 상태 머신의 ARN (Amazon 리소스 이름)을 얻을 수 있습니다.</p>\n<h1>단계 6: IAM 역할 문장 업데이트</h1>\n<p>serverless.yml 파일의 IAM 역할 문장을 Step Functions 상태 머신의 ARN으로 업데이트하세요.</p>\n<!-- ui-station 사각형 -->\n<p><ins class=\"adsbygoogle\" style=\"display:block\" data-ad-client=\"ca-pub-4877378276818686\" data-ad-slot=\"7249294152\" data-ad-format=\"auto\" data-full-width-responsive=\"true\"></ins></p>\n<script>\n(adsbygoogle = window.adsbygoogle || []).push({});\n</script>\n<pre><code class=\"hljs language-yaml\"><span class=\"hljs-attr\">iamRoleStatements:</span>\n  <span class=\"hljs-bullet\">-</span> <span class=\"hljs-attr\">Effect:</span> <span class=\"hljs-string\">\"Allow\"</span>\n    <span class=\"hljs-attr\">Action:</span>\n      <span class=\"hljs-bullet\">-</span> <span class=\"hljs-string\">\"states:*\"</span>\n    <span class=\"hljs-attr\">Resource:</span> <span class=\"hljs-string\">\"arn:aws:states:us-east-1:123456789012:stateMachine:EmployeeOnboardingStateMachine\"</span>\n</code></pre>\n<h1>단계 7: 서버리스 서비스 다시 배포하기</h1>\n<p>IAM 역할 문장을 업데이트한 후에 변경 사항을 적용하기 위해 서버리스 서비스를 다시 배포하세요.</p>\n<pre><code class=\"hljs language-sh\">serverless deploy\n</code></pre>\n<!-- ui-station 사각형 -->\n<p><ins class=\"adsbygoogle\" style=\"display:block\" data-ad-client=\"ca-pub-4877378276818686\" data-ad-slot=\"7249294152\" data-ad-format=\"auto\" data-full-width-responsive=\"true\"></ins></p>\n<script>\n(adsbygoogle = window.adsbygoogle || []).push({});\n</script>\n<h1>요약</h1>\n<p>이 튜토리얼은 직원 온보딩 프로세스를 자동화하기 위한 AWS Step Function을 생성하는 방법을 보여줍니다. Serverless Framework와 Serverless Step Functions 플러그인을 활용하여 작업, 분기 논리, 오류 처리를 포함한 복잡한 워크플로우를 정의하고 배포하여 온보딩 프로세스를 효율적이고 확장 가능하게 만들 수 있습니다.</p>\n</body>\n</html>\n"},"__N_SSG":true}